# IMPORTING THE DATA

In [ ]:
import pandas as pd
df_count = pd.read_csv('countries.csv')
df_city = pd.read_csv('cities.csv')
df_curr = pd.read_csv('currencies.csv')
df_lang = pd.read_csv('languages.csv')

# CLEANING THE DATA TABLE-WISE

## COUNTRIES TABLE

In [37]:
df_count['country_name'] = df_count['country_name'].str.lower().replace('[^a-zA-Z ]', '',regex=True)

In [40]:
df_count['country_name'] =df_count['country_name'].str.title()

In [41]:
df_count['country_name']

0            Afghanistan
1                Albania
2                Albania
3                Algeria
4         American Samoa
             ...
252    Virgin Islands Us
253    Wallis And Futuna
254                Yemen
255               Zambia
256             Zimbabwe
Name: country_name, Length: 257, dtype: object

In [61]:
df_count['country_code_2'] = df_count['country_code_2'].str.lower().replace('[^a-zA-Z ]', '',regex=True)
df_count['country_code_3'] = df_count['country_code_3'].str.lower().replace('[^a-zA-Z ]', '',regex=True)
df_count['region'] = df_count['region'].str.title().replace('[^a-zA-Z ]', '',regex=True)
df_count['sub_region'] = df_count['sub_region'].str.title().replace('[^a-zA-Z ]', '',regex=True)
df_count['intermediate_region'] = df_count['intermediate_region'].str.title().replace('[^a-zA-Z ]', '',regex=True)
df_count['intermediate_region'] = df_count['intermediate_region'].fillna('Not Present')

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [53]:
df_city.head(5) #to inspect the table

,city_name,latitude,longitude,country_code_2,capital,population,insert_date
0,tokYo,35.6897,139.6922,jp,True,37732000.0,2022-01-12
1,jakarta,-6.1750,106.8275,id,True,33756000.0,2021-08-22
2,dELhi,28.6100,77.2300,in,False,32226000.0,2021-03-11
3,guangzhou,23.1300,113.2600,cn,False,26940000.0,2021-02-24
4,!mumbai,19.0761,72.8775,in,False,24973000.0,2023-05-04

## CITIES TABLE

In [6]:
df_city['insert_date'] = pd.to_datetime(df_city['insert_date'])
df_city['city_name'] = df_city['city_name'].str.title()
df_city['city_name'] = df_city['city_name'].str.title().replace('[^a-zA-Z ]', '',regex=True)
df_city['country_code_2'] = df_city['country_code_2'].str.lower().replace('[^a-zA-Z ]', '',regex=True)

In [7]:
df_city.head()

,city_name,latitude,longitude,country_code_2,capital,population,insert_date
0,Tokyo,35.6897,139.6922,jp,True,37732000.0,2022-01-12
1,Jakarta,-6.1750,106.8275,id,True,33756000.0,2021-08-22
2,Delhi,28.6100,77.2300,in,False,32226000.0,2021-03-11
3,Guangzhou,23.1300,113.2600,cn,False,26940000.0,2021-02-24
4,Mumbai,19.0761,72.8775,in,False,24973000.0,2023-05-04

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## CURRENCIES TABLE

In [75]:
df_curr['country_code_2'] = df_curr['country_code_2'].str.lower().replace('[^a-zA-Z ]', '',regex=True)
df_curr['currency_code'] = df_curr['currency_code'].str.lower().replace('[^a-zA-Z ]', '',regex=True)

In [84]:
df_curr[df_curr['currency_name'] == 'us dollar']
df_curr['currency_name'] = df_curr['currency_name'].str.title().replace('[^a-zA-Z ]', '',regex=True)
df_curr['currency_name']
df_curr['currency_name'] = df_curr['currency_name'].replace('Us Dollar', 'US Dollar')

In [85]:
df_curr['currency_name']

0              Afghani
1                  Lek
2       Algerian Dinar
3            US Dollar
4                 Euro
            ...
249          US Dollar
250          Cfp Franc
251        Yemeni Rial
252     Zambian Kwacha
253    Zimbabwe Dollar
Name: currency_name, Length: 254, dtype: object

## LANGUAGES TABLE

In [88]:
df_lang.head()
df_lang['language'] = df_lang['language'].str.title().replace('[^a-zA-Z ]', '',regex=True)
df_lang['country_code_2'] = df_lang['country_code_2'].str.lower().replace('[^a-zA-Z ]', '',regex=True)

In [90]:
# df_count = pd.read_csv('countries.csv')
# df_city = pd.read_csv('cities.csv')
# df_curr = pd.read_csv('currencies.csv')
# df_lang = pd.read_csv('languages.csv')
# df_count.head()

0      af
1      af
2      af
3      al
4      al
       ..
603    ye
604    zm
605    zm
606    zw
607    zw
Name: country_code_2, Length: 608, dtype: object

# HERE ARE DATA IS CLEANED, NOW WE HAVE TWO CHOICES:-
- TO TRANSFER IT TO CSV FILES AND THEN IMPORT IT THROUGH AN IMPORT WIZARD IN YOUR SQL DATABASE
- TO ESTABLISH A CONNECTION AND SEND DATA DIRECTLY TO OUR SQL DATABASE

In [91]:
df_count.to_csv("COUNTRIES.csv", index = False)
df_curr.to_csv("CURRENCIES.csv", index = False)
df_lang.to_csv("LANGUAGES.csv", index = False)
df_city.to_csv("CITIES.csv", index = False)

### CREATING THE CONNECTION STRING

In [9]:
from sqlalchemy import create_engine
engine = create_engine("mssql+pyodbc://@localhost\\SQLEXPRESS/github_practice?driver=ODBC+Driver+18+for+SQL+Server&trusted_connection=yes&TrustServerCertificate=yes")

In [10]:
df_count.to_sql(name = "countries", con=engine, index = False, if_exists = 'replace')

257

In [11]:
df_curr.to_sql(name = "currencies", con=engine, index = False, if_exists = 'replace')
df_lang.to_sql(name = "languages", con=engine, index = False, if_exists = 'replace')
df_city.to_sql(name = "cities", con=engine, index = False, if_exists = 'replace')

71